// Color variables
$primary-green: #50B287;

// 1. UIKit overrides
// 1.1 Default link and heading colours
$global-link-color: #DA7D02;
$base-heading-color: $primary-green;

// 1.2 Navbar styling
$navbar-nav-item-text-transform: none; // Disable all capital letters on navbar items
$navbar-background: #707070;

// 1.3 Button styling
$global-button-default-text-color: #FFFFFF;
$button-default-background: $primary-green;
$button-default-color: $global-button-default-text-color;
$button-default-active-background: darken($primary-green, 15%);
$button-default-active-color: $global-button-default-text-color;
$button-default-hover-background: darken($primary-green, 15%);
$button-default-hover-color: $global-button-default-text-color;
$button-text-transform: none;

$background-primary-background: #FFFFFF;
$border-rounded-border-radius: 10px;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";

// 5. Custom css.
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.router-link-exact-active {
    font-weight: bold;
}

#pageBackground {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1000;
}

#pageBackground img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    object-fit: cover;
    object-position: center;
}

.imageContainer {
    position: relative;
    min-height: 100px;
}

.imageContainer:hover > .editImageIcon,
.imageContainer:hover > .selectImageIcon {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.albumContainer {
    position: relative;
}

.selectImageIcon {
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    position: absolute;
    top: 8px;
    left: 18px;
    z-index: 100;
    cursor: pointer;
    background: darken(white, 10%);
}

.selectImageIcon:checked {
    opacity: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.editImageIcon {
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    cursor: pointer;
}

.imageThumbnail {
    max-width: 100%;
    z-index: 10;
}

.imageThumbnail div {
    height: 0;
    padding-top: 75%;
    width: 100%;
    position: relative;
}

.imageThumbnail img {
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#navbarLogoImage {
    max-height: 8vh;
    max-width: 100%;
}

#mainPageLogoImage {
    max-height: 30vh;
    max-width: 100%;
}
